
<nz-card [nzTitle]="cardTitle" [nzExtra]="tabExtraTpl">
  <ng-template #cardTitle>
    <i nz-icon nzType="branches"></i>  Collaterals
  </ng-template>
  <ng-template #tabExtraTpl>
    <button nz-button nzType="primary" (click)="openDrawer(undefined)" class="add-button"><i nz-icon nzType="plus"></i>Add Collaterals</button>
  </ng-template>
  <div nz-row [nzGutter]="32" nzJustify="center">
    <div nz-col nzSpan="16">
      <nz-table #collateralList [nzData]="collateral" nzTableLayout="fixed"
                nzSize="small"
                [nzFrontPagination]="false"
                [nzTotal]="totalElements"
                [(nzPageIndex)]="pageNumber"
                [(nzPageSize)]="pageSize"
                nzShowPagination
                nzShowSizeChanger
                nzShowQuickJumper
                (nzPageIndexChange)	="loadCollateral()"
                (nzPageSizeChange)="loadCollateral(true)"
      >
        <thead>
        <tr>
          <th nzAlign="center">#</th>
          <th nzCustomFilter nzAlign="center">
            name
          </th>
          <th nzAlign="center">Collateral Degree</th>
          <th nzAlign="center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of collateralList.data; let i = index">
          <td nzAlign="center" >{{ i + 1 }}</td>
          <td nzAlign="center"><b>{{ data.name }}</b></td>
          <td nzAlign="center"><b>{{ data.collateralDegree }}</b></td>
          <td nzAlign="center" >
            <div  nz-row>
              <div   nz-col nzSpan="8"></div>
              <div   nz-col nzSpan="4">
                <i class="edit-btn"    nz-icon nzType="edit"  (click)="openDrawer(data.id)"   nzTheme="outline" nz-tooltip="edit"></i>
              </div>
              <div   nz-col nzSpan="4">  </div>
              <div  nz-col nzSpan="4">
                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this task?"
                   (nzOnConfirm)="deleteOperator(data.id)" (nzOnCancel)="cancel()"  >
                  <i class="delete-button" nzTooltipColor="red"  nz-icon nzType="delete" nzTheme="outline"  nz-tooltip="delete"></i>
                </a>
              </div>
              <div   nz-col nzSpan="4">  </div>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-card>


